@model IEnumerable<FPTBookstoreApplication.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminPage.cshtml";
}

<h2> List of Oredrs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addressdilivery)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addressdilivery)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
            </td>
        </tr>
    }

</table>
