@model FPTBookstoreApplication.Models.Account
@{
    ViewBag.Title = "MakeOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-section-1" id="carousel_a5ea">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-container-style u-group u-white u-group-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-align-center u-text u-text-1">CONFIRM ORDER</h2>
                    <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">

                        @using (Html.BeginForm("AddOrder", "Cart", FormMethod.Post, new { @class = "u-clearfix u-form-spacing-13 u-form-vertical u-inner-form", role = "form" }))
                        {

                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="u-form-group u-form-name u-form-group-1">
                            <label for="name-f18c" class="u-label">Full Name</label>
                            <input type="text"id="email-f18c" name="email" class="u-grey-5 u-input u-input-rectangle u-input-2" required="required" value="@Model.FullName" />
                        </div>


                            <div class="u-form-group u-form-group-2">
                                <label for="email-f18c" class="u-label">Address Delivery</label>

                                <input type="text" placeholder="Enter your address to recive book" id="email-f18c" name="email" class="u-grey-5 u-input u-input-rectangle u-input-2" required="required">
                            </div>

                            <div class="u-form-group u-form-phone u-form-group-3">
                                <label for="phone-4078" class="u-label">Phone Number</label>
                                <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" value="@Model.PhoneNumber" id="phone-4078" name="phone" class="u-grey-5 u-input u-input-rectangle u-input-3" required="">
                            </div>

                            <div class="u-form-group u-form-group-4">
                                <label for="text-6c83" class="u-label">Total Money</label>
                                <input id="text-6c83" name="text" class="u-grey-5 u-input u-input-rectangle u-input-4" type="text" value="@ViewBag.sum" required="required">
                            </div>

                            <div class="u-form-agree u-form-group u-form-group-5">
                                <input type="checkbox" id="agree-f03e" name="agree" class="u-agree-checkbox" required="">
                                <label for="agree-f03e" class="u-label">I accept all policy and accept order</label>
                            </div>

                            <div class="u-align-center u-form-group u-form-submit u-form-group-6">
                                <a href="#" class="u-black u-btn u-btn-submit u-button-style u-btn-1">ORDER</a>
                                <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                            </div>

                            <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message has been sent. </div>
                            <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your message. Please fix errors then try again. </div>
                            <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                            @*</form>*@
                        }



                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

