

@{
    ViewBag.Title = "Home Page";
}


@* Banner *@

<!-- Search-->


    @using (Html.BeginForm())
    {<div style="margin-top: 20%; margin-left:5%;" class="mt-3">

    <div class="row">
        <div class="col col-sm-7">
            @Html.TextBox("searchingstring", "", new { @class = "form-control", type = "text" })
        </div>
        <div class="col col-sm-5">
            <button class="btn btn-info">
                Search
            </button>
        </div>
    </div>

</div>
    }



<section class="about py-md-5 py-5">
    <div class="container-fluid">
        <div class="feature-grids row px-3">
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"><span class="fa fa-truck" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">FREE SHIPPING</h3>
                        <p>On all order over $2000</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row bottom-gd2-active">
                    <div class="icon-gd col-md-3 text-center"><span class="fa fa-bullhorn" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">FREE RETURN</h3>
                        <p>On 1st exchange in 30 days</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"> <span class="fa fa-gift" aria-hidden="true"></span></div>

                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">MEMBER DISCOUNT</h3>
                        <p>Register & save up to $29%</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 gd-bottom">
                <div class="bottom-gd row">
                    <div class="icon-gd col-md-3 text-center"> <span class="fa fa-usd" aria-hidden="true"></span></div>
                    <div class="icon-gd-info col-md-9">
                        <h3 class="mb-2">PREMIUM SUPPORT</h3>
                        <p>Support 24 hours per day</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@* Product *@
<section class="about py-5">
    <div class="container pb-lg-3">
        <h3 class="tittle text-center">New Books</h3>

        @model IEnumerable<FPTBookstoreApplication.Models.Book>
        <div class="row">
            @foreach (var book in Model)
            {
                <div style="margin-top:5%;" class="col-md-4 product-men">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="~/Assets/images/img-Books/@book.Img" class="img-fluid" alt="@book.BookId">
                        </div>
                        <div class="item-info-product">
                            <h4>
                                @Html.ActionLink(book.BookName, "BookDetail", new { id = book.BookId })
                            </h4>

                            @if (book.Author != null)
                            {
                                <h6 style="opacity:0.6; font-style:italic">
                                    by: @book.Author.AuthorName
                                </h6>
                            }

                            <div class="product_price">
                                <span>
                                    <div class="grid-price">
                                        <span class="money">@book.Price .00 $</span>
                                    </div>
                                </span>
                                <div style="margin-bottom: 10px; display: grid;" class="add-block ">
                                    <a class="btn-details btn btn-info" id="btn_add" href="@Url.Action("Add", "Cart",book)">
                                        Add To Cart
                                    </a>
                                </div>
                                <div style=" display: grid;" class="detail-block">
                                    @Html.ActionLink("Detail Information", "BookDetail", new { id = @book.BookId }, new { @class = "btn-details btn btn-info" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


<!--/testimonials-->
<section class="testimonials py-5">
    <div class="container">
        <div class="test-info text-center">
            <h3 class="my-md-2 my-3">W.Churchill </h3>

            <p><span class="fa fa-quote-left"></span> If you're looking for someone to approve an exception, don't go to Ted – he does everything by the book <span class="fa fa-quote-right"></span></p>

        </div>
    </div>
</section>


